@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(210, 20%, 98%);
  --foreground: hsl(224, 71.4%, 4.1%);
  --border: hsl(215, 27.9%, 16.9%);
  --primary: hsl(263.4, 70%, 50.4%);
  --primary-transparent: hsla(263, 70%, 50%, 0.800);
  --card: hsl(224, 71.4%, 4.1%);
  --card-foreground: hsl(210, 20%, 98%);
  --popover: hsl(224, 71.4%, 4.1%);
  --popover-foreground: hsl(210, 20%, 98%);
  --primary-foreground: hsl(210, 20%, 98%);
  --secondary: hsl(215, 27.9%, 16.9%);
  --secondary-foreground: hsl(210, 20%, 98%);
  --muted: hsl(215, 27.9%, 16.9%);
  --muted-foreground: hsl(217.9, 10.6%, 64.9%);
  --accent: hsl(215, 27.9%, 16.9%);
  --accent-foreground: hsl(210, 20%, 98%);
  --destructive: hsl(0, 62.8%, 30.6%);
  --destructive-foreground: hsl(210, 20%, 98%);
  --input: hsl(215, 27.9%, 16.9%);
  --ring: hsl(263.4, 70%, 50.4%);
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: "Inter", sans-serif;
}
